.container-lg {
  width: 70%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}


input[type="text"],
input[type="number"],
input[type="date"],
select,
input[type="time"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.form-check-input {
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}


button[type="submit"] {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
}


button[type="button"] {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #218838;
}


form {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
